* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* WELCOME */
.welcome {
    background: #020617;
    color: white;
    text-align: center;
    padding: 25px;
}

.welcome h1 {
    font-size: 36px;
}

.welcome p {
    margin-top: 5px;
    color: #93c5fd;
}

/* HERO */
.hero {
    padding: 60px;
    background: linear-gradient(to right, #2563eb, #1e40af);
    color: white;
    text-align: center;
}

.hero h2 {
    font-size: 32px;
    margin-bottom: 15px;
}

/* SECTIONS */
section {
    padding: 50px 60px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* ABOUT */
.about p, .career p {
    text-align: center;
    max-width: 900px;
    margin: auto;
    font-size: 18px;
}

/* TECH */
.tech-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

.tech-box div {
    background: #e0f2fe;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
}

/* WHY */
.why ul {
    list-style: none;
    max-width: 700px;
    margin: auto;
}

.why li {
    font-size: 18px;
    margin: 10px 0;
}

/* REGISTER */
.register {
    background: #f1f5f9;
    text-align: center;
}

form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, select {
    padding: 12px;
    font-size: 16px;
}

button {
    padding: 12px;
    background: #2563eb;
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

/* FOOTER */
footer {
    background: #020617;
    color: white;
    text-align: center;
    padding: 15px;
}